*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;

}

/*home csss*/

.home .home-banner-1,
.home .home-banner-2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position:relative;
}

.home .home-banner-1{
    background-image:url('slide1.jpg');
}
.home .home-banner-2{
    background-image:url('slide2.jpg');
}
.home .home-banner .home-banner-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-110%, -50%)
}

.home .home-banner .home-banner-text h1{
    font-size: 6rem;

}

.container-fluid2{
  padding-top: 50px;
  padding-left: 10px;
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Products CSS */
.products{
    padding-top:5.75rem;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: red;

}

.headline h2::before{
    content:'';
    width:30%;
    height:0.125rem;
    background-color: var(--bg-danger);
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 0.625rem;
}

.product-list .product-image img{
    transition:all 500ms ease-in-out;
}
.product-list .product-image .product-image-secondary{
    opacity: 0;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.product-list .product-image:hover .product-image-secondary{
    opacity: 1;
}
.product-list .product-image .sale{
    background:var(--bg-danger);
    border-radius: 0.313rem;
    color:var(--text-white);
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    line-height: 1.563rem;
    padding:0.125rem 0.813rem;
    text-transform: uppercase;
    position:absolute;
    left:1rem;
    top:1.188rem;
    z-index: 99;
}
.product-list .product-name h3{
    font-size: 1.125rem;
    color:var(--text-black);
    transition:all 0.3s ease 0s;
}
.product-list .product-name h3:hover{
    color:var(--text-danger);
}
.product-list .product-name .amount{
    color:var(--text-danger);
    font-weight: 500;
}
.product-list .product-name .amount del{
    color:var(--text-gray);
}
.product-list .product-name .ti-star{
    color:var(--text-gray);
}
.product-list .product-name .ti-star.active{
    color:var(--text-danger);
}
.product-list .product-name .add_to_Card{
    background:transparent;
    border:none;
    font-size: 1.2rem;
    font-weight: 500;
    transition:all 0.3s ease 0s;


}


.product-list .product-name .add_to_Card:hover{
    color: lime;

}


/* SPECIAL */

#special{
  padding-top: 50px;
}

#GIT {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.input1 {
  margin-bottom: 5px;
}

.btnn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.btnn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


#footer{
  
  text-align: center;
  line-height: 1.5;
  padding: 50px 0 20px;
}

a{
  font-size: 1rem;
  line-height: 1.5;


  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.copyright{
  color: grey;
  font-size: 0.90rem;
  padding-top: 30px;
}



@media (max-width:330px){
    /* Home CSS */
    .home .home-banner .home-banner-text h2{
        font-size: 1rem;
    }


    @media (max-width:767px){
         /* Home CSS */
         .home .home-banner-1,
         .home .home-banner-2{
             background-position:50% center;
             min-height: 450px;
         }
         .home .home-banner .home-banner-text{
             text-align: center;
             width:100%;
             transform:translate(-50%, -50%);
         }
         .home .home-banner .home-banner-text h1{
             font-size: 3rem;
         }
         .home .home-banner .home-banner-text h2{
             font-size: 1.2rem;
         }
         .home .home-banner .home-banner-text .btn-danger{
             padding:0.5rem 1.5rem;
         }
